@page
@model RegisterModel
@{
    ViewData["Title"] = "Create Account";
}

<div class="identity-wrapper">
    <div class="identity-card">
        <h1>@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" />
                <label asp-for="Input.FirstName" class="text-dark">First Name</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" />
                <label asp-for="Input.LastName" class="text-dark">Last Name</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="text-dark">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="password" />
                <label asp-for="Input.Password" class="text-dark">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="password" />
                <label asp-for="Input.ConfirmPassword" class="text-dark">Confirm Password</label>
            </div>
            
            <button id="registerSubmit" type="submit" class="w-100 btn-submit">Register</button>
        </form>
    </div>
</div>