# Visual Studio
.vs/
.vscode/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
run.ps1

# Logs
*.log

# .NET
*.dll
*.exe
*.pdb

# Rider / other IDEs
.idea/