@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/index.css" />
}

<div class="hero">
    <div class="hero-left">
        <h1>Hill Air Force<br />Base RV Camp</h1>
        <button class="cta-btn" onclick="location.href='@Url.Page("/Filter/Filter")'">
            Check Availability
        </button>
    </div>

    <div class="hero-right">
        <img src="~/images/rvParkIndex.jpg" alt="RV Camp" />
    </div>
</div>