<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RVPark_Team2</title>

    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)

    <link rel="stylesheet" href="~/RVPark_Team2.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="navbar">
        <div class="nav-links">
            @* If the user is on the admin page, show the admin links instead of the standard links *@
            @if (Context.Request.Path.StartsWithSegments("/Admin"))
            {
                <a href="/">HOME</a>
                <a href="/Admin/Sites">SITES</a>
                @* TODO: Add the pricing page (ADM2)*@
                <a href="/Admin/Pricing">PRICING</a>
                <a href="/Admin/Reservations">RESERVATIONS</a>
                 @* TODO: Add the report page (ADM3)*@
                <a href="/Admin/Reports">REPORT</a>
                @* TODO: Add the employees page (ADM6)*@
                <a href="/Admin/Employees">EMPLOYEES</a> 
            }
            else
            {
                <a href="/">HOME</a>
                <a href="#">AVAILABILITY</a>
                <a href="#">RESERVATIONS</a>
                <a href="#">CONTACT</a>
            }
        </div>

        <div class="login">
            @* If the user is on the admin page, show the log out button *@
            @if (Context.Request.Path.StartsWithSegments("/Admin"))
            {
                <a href="/"><button>Log Out</button></a>
            }
            @* Otherwise, show the log in button *@
            else
            {
                @* TODO: Add the log in page. For now redirecting to the admin page *@
                <a href="/Admin"><button>Log In</button></a>
            }
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="custom-footer">
        <div class="footer-content">
            <div>
                <h4>Email</h4>
                <p>hello@reallygreatsite.com</p>
            </div>
            <div>
                <h4>Phone</h4>
                <p>(123)-456-7890</p>
            </div>
            <div>
                <p>
                    For further assistance, please call our support team at
                    (123)-456-7890.
                </p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>